*.fig
*.asc
*.mat
*.dep
*.pdf
*.eps
*.dvi
*.Rdata
*.rdata
*.RData
*.DONE
*.INIT
*.files
*.aux
*.bbl
*.log
*.map
*.pygen
\#*
.\#*
monk.makefile
*~
*.pyc
*.o
*.sqlite-journal
last.dump.rda
.Rhistory
scripts.txt
tikzdict*
dependencies
.Rdata
tickets
Rlibs
eachplots
descriptions
collections
dbtickets
auto
*.tar.gz
*.products
*.out
*.rel
*.sqlite
*.sources
*.Rcheck
*.gen
unexcluded.txt
filelist.txt
poolplots
Rdata
unpacked
common
common_adj
stripped
datafiles
eyemovements
session_figures
pools
*.prv
*.blg
DONE