export("[.bind")
export("[<-.bind")
export("index<-")
export("index<-.data.frame")
export(bind)
export(chain)
export(fun)
export(index)
export(mkchain)
export(mutator)
export(run_as_command)
export(summariser)
export(summarizer)
export(with_arg)
import(codetools)
import(plyr)
