export("[.bind")
export("[<-.bind")
export("index<-")
export("index<-.data.frame")
export(bind)
export(chain)
export(dmaply)
export(dmdply)
export(fun)
export(index)
export(mutator)
export(summariser)
export(summarizer)
import(codetools)
import(plyr)
